<form {{action "createPost" on="submit"}}>
  <div class="ui form">
    <div class="ui field">
      {{textarea rows="2" value=newBody placeholder="What's new?"}}
    </div>
    <div class="ui field">
      <button class="ui button green">Shtweet</button>
    </div>
  </div>
</form>