<div class="ui page grid centered">
  <div class="row">
    <div class="eight wide column center aligned">
      <h2 id="title">Shitwitter</h2>
    </div>
  </div>
  <div class="row">
    <div class="eight wide column">
      {{message-form onCreate="createPost"}}
    </div>
  </div>
  <div class="row">
    <div class="eight wide column">
      {{messages-container messages=attrs.messages}}
    </div>
  </div>
</div>

{{outlet}}