<div class="row">
  <div class="eight wide column">
    {{message-form onCreate="createPost"}}
  </div>
</div>
<div class="row">
  <div class="eight wide column">
    {{messages-container messages=attrs.messages onEdit="postEdited"}}
  </div>
</div>